* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #dad8d8;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
  padding: 40px 60px;
  background: #0d614b;
}

h2 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.restart {
  padding: 15px 20px;
  color: #267c65;
  background: #fff;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.restart:hover {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #eaece8;
}

.restart:hover::after {
  box-shadow: 3px 2px 10px #121311;
}

.game {
  width: 500px;
  height: 460px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: calc(93%/4);
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: #fff;
  transform: rotateY(180deg);
  transition: 0.25s;
  cursor: pointer;
}

.item.boxopen {
  transform: rotateY(0deg);
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #209d7b;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.boxopen::after,
.boxmatch::after

{
  transform: rotateY(180deg);
}
